<%= render :partial => 'navbar' %>

<div id="mainContentTopLeft" class="main-content-topleft border-right">
  <%= render :partial => 'topleft' %>
</div>

<div id="mainContentTopRight" class="main-content-topright border-right">
  <%= render :partial => 'topright' %>
</div>

<div id="mainContentBottom" class="page">
</div>

<%= render :partial => 'load_modal' %>
<%= render :partial => 'user_modal' %>
