<%= render :partial => 'navbar' %>

	<div class="row">

    <div id="mainContentTopLeft" class="span4 border-right">
      <%= render :partial => 'topleft' %>
    </div>

    <div id="mainContentTopRight" class="span4 border-right">
      <%= render :partial => 'topright' %>
    </div>

    <div id="mainContentBottom" class="span4">
    </div>

    <!--- TOP LEFT CONTENT WELL -->
		<table>
			<tr>
				<td style="padding-left:15px;">
				</td><td>
				</td><td style="width:100%;vertical-align:top;padding-left:15px;">
				</td>
			</tr>
		</table>
	</div>

<%= render :partial => 'load_modal' %>
<%= render :partial => 'user_modal' %>
